<div class="servicos-list col-md-8" [@ordemAppeared]="ordemState">
  <a [routerLink]="['/mantemOrdem', ordem.id]">
    <div class="row">
      <div class="col-md-12">
        <span class="place-info-box-text">ID: {{ordem?.id}}</span>
        <span class="place-info-box-text">Data: {{stringAsDate(ordem?.data) | date:'dd/MM/yyyy':'BRL'}}</span>
        <span class="place-info-box-text">Status: {{ordem?.status.status}}</span>
        <span class="place-info-box-text">Veículo: {{ordem?.veiculo.modelo}}</span>
        <span class="place-info-box-text">Cliente: {{ordem?.cliente.nome}}</span>
      </div>
    </div>
  </a>
  <div class="btn-veiculo-list">
    <button class="btn btn-danger fa fa-times" aria-hidden="true" (click)="showModal(ordem)"> </button>
  </div>
</div>
