<!-- INíCIO do CONTEÚDO -->
      <section class="content-header">

        <div>
          <div class="col-sm-6 col-xs-12">
            <a class="btn btn-primary btm-lg" [routerLink]="['/novoProduto']">NOVO</a>
          </div>
        </div>

        <h1>
          <a (click)="toggleSearch()" class="search-link pull-right">
            <span *ngIf="iptSearch.value"><small>"{{iptSearch.value}}"</small></span> <i class="fa fa-search"></i>
          </a>
        </h1>

        <!-- barra de busca-->
        <div class="row">
          <div class="col-xs-12 search-bar" [@toggleSearch]="searchBarState">
            <form [formGroup]="searchForm">
              <div class="form-group">
                  <input type="text" #iptSearch formControlName="searchControl"
                         class="form-control" placeholder="O que você está procurando?">
              </div>
            </form>
          </div>
        </div>
      </section>

      <section class="content">

        <div class="row">
                <div *ngFor="let produto of produtos" class="col-sm-6 col-xs-12">
                    <oo-produto [produto]="produto" (deletado)="onDelete($event)"></oo-produto>
                </div>
                <div *ngIf="produtos?.length === 0" class="col-xs-12">
                  <p class="lead text-center">
                    Não foram encontrados produtos.
                  </p>
                </div>
          </div>

      </section>

      <!-- FIM  do CONTEÚDO -->
