<div class="servicos-list col-md-8" [@veiculoAppeared]="veiculoState">
  <a [routerLink]="['/mantemVeiculo', veiculo.id]">
    <div class="row">
      <div class="col-md-12">
        <span class="place-info-box-text">Placa: {{veiculo.placa}} </span>
        <span class="place-info-box-text">Fabricante: {{veiculo.fabricante}} </span>
        <span class="place-info-box-text">Modelo: {{veiculo.modelo}} </span>
        <span class="place-info-box-text">Ano: {{veiculo.ano}} </span>
      </div>
    </div>
  </a>
  <div class="btn-veiculo-list">
    <button class="btn btn-danger fa fa-times" aria-hidden="true" (click)="showModal(veiculo)"> </button>
  </div>
</div>
