<section class="content-header">
</section>

<section class="content">
  <section class="invoice">
    <form [formGroup]="usuarioForm" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Cadastro de Usuario</p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <oo-input-container errorMessage="Obrigatório!" label="Login">
            <input class="form-control" formControlName="login" placeholder="Login" autocomplete="off" >
          </oo-input-container>
        </div>
        <div class="col-sm-3 col-xs-6">
          <oo-input-container errorMessage="Obrigatório!" label="Senha">
            <input type="password" class="form-control" formControlName="senha" placeholder="Senha" autocomplete="off">
          </oo-input-container>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </form>
    <div class="row margin-top-5">
      <div class="col-md-4">
          <input [(ngModel)]="nomeClienteSelecionado"
           [typeahead]="dataSourceClientes"
           (typeaheadLoading)="changeClienteTypeaheadLoading($event)"
           (typeaheadNoResults)="changeClienteTypeaheadNoResults($event)"
           (typeaheadOnSelect)="typeaheadClienteOnSelect($event)"
           [typeaheadOptionsLimit]="10"
           typeaheadOptionField="nome"
           placeholder="Buscar cliente por nome"
           class="form-control"
           [ngModelOptions]="{standalone: true}">
           <div *ngIf="clienteTypeaheadLoading===true">Loading...</div>
           <div *ngIf="clienteTypeaheadNoResults===true">&#10060; Nenhum cliente encontrado!</div>
       </div>
       <div class="col-md-4" *ngIf="usuario?.cliente">
         <button class="btn btn-danger" (click)="showModal()">Remover Cliente </button>
       </div>
    </div>
    <div class="row margin-top-5" *ngIf="usuario?.cliente">
      <div class="col-md-2 col-sm-6">
        <input class="form-control" disabled="true" [(ngModel)]=usuario.cliente.cpf placeholder="CPF">
      </div>
      <div class="col-md-4 col-sm-6">
        <input class="form-control" disabled="true" [(ngModel)]=usuario.cliente.nome placeholder="Nome">
      </div>
    </div>
    <div class="row margin-top-5">
      <div class="col-lg-12 col-xs-12 text-center">
        <button (click)="btnSalvar(usuarioForm.value)" class="btn btn-success"
          [disabled]="!usuarioForm.valid">
            <i class="fa fa-floppy-o"></i>&nbsp;&nbsp;Salvar
        </button>
      </div>
    </div>
  </section>
</section>
<!-- FIM DO CONTEUDO-->
