<section class="content-header">
</section>

<section class="content">
  <section class="invoice">
    <form [formGroup]="ordemForm" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Cadastro de Ordem de Serviço</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <oo-input-container errorMessage="Obrigatório!" label="Nome">
            <input class="form-control" formControlName="nome" placeholder="Nome" autocomplete="off" >
          </oo-input-container>
        </div>
        <div class="col-md-3 col-sm-6">
          <oo-input-container errorMessage="Obrigatório e somente números!" label="CPF">
            <input type="text" class="form-control" formControlName="cpf" placeholder="CPF" autocomplete="off">
          </oo-input-container>
        </div>
        <div class="col-md-3 col-sm-6">
          <oo-input-container errorMessage="Obrigatório!" label="Email">
            <input type="text" class="form-control" formControlName="email" placeholder="Email" autocomplete="off">
          </oo-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <oo-input-container errorMessage="Obrigatório!" label="Fone">
            <input type="text" class="form-control" formControlName="telefone" placeholder="Fone" autocomplete="off">
          </oo-input-container>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <input [(ngModel)]="veiculoSelecionado"
               [typeahead]="ordem?.cliente.veiculos"
               (typeaheadOnSelect)="typeaheadVeiculoOnSelect($event)"
               placeholder="Selecionar veículo cliente"
               tooltip="Informe a placa do veículo do cliente"
               typeaheadOptionField="placa"
       class="form-control">
      </div>
      <div class="col-md-3 col-sm-6">
        <button class="btn btn-success" (click)=showModalCadVeiculo()><i class="fa fa-plus-circle" aria-hidden="true"></i> &nbsp;Veiculo</button>
      </div>
      <div class="row">
        <span class="client-cars-list-text">{{ordem?.veiculo.placa}} - {{ordem?.veiculo.modelo}}</span>
      </div>
    </div>
    <div class="row margin-top-5" >
      <div class="col-md-4">
          <input [(ngModel)]="nomeProdutoSelecionado"
           [typeahead]="dataSourceProdutos"
           (typeaheadLoading)="changeProdutoTypeaheadLoading($event)"
           (typeaheadNoResults)="changeProdutoTypeaheadNoResults($event)"
           (typeaheadOnSelect)="typeaheadProdutoOnSelect($event)"
           [typeaheadOptionsLimit]="10"
           typeaheadOptionField="nome"
           placeholder="Selecionar Produto"
           class="form-control">
           <div *ngIf="typeaheadLoading===true">Loading...</div>
           <div *ngIf="typeaheadNoResults===true">&#10060; Nenhum Produto Encontrado</div>
         </div>
         <div class="col-md-2">
           <button class="btn btn-success" (click)=showModalCadProduto()><i class="fa fa-plus-circle" aria-hidden="true"></i> &nbsp;Produto</button>
         </div>
      <div class="col-md-4">
          <input [(ngModel)]="nomeServicoSelecionado"
           [typeahead]="dataSourceServicos"
           (typeaheadLoading)="typeaheadServicoLoading($event)"
           (typeaheadNoResults)="typeaheadServicoNoResults($event)"
           (typeaheadOnSelect)="typeaheadServicoOnSelect($event)"
           [typeaheadOptionsLimit]="10"
           typeaheadOptionField="nome"
           placeholder="Selecionar Serviço"
           class="form-control col-md-3">
           <div *ngIf="servicostypeaheadLoading===true">Loading...</div>
           <div *ngIf="servicostypeaheadNoResults===true">&#10060; Nenhum Serviço Encontrado</div>
      </div>
      <div class="col-md-2">
        <button class="btn btn-success" (click)=showModalCadServico()><i class="fa fa-plus-circle" aria-hidden="true"></i> &nbsp;Serviço</button>
      </div>
    </div>
    <div class="row" >
      <div class="col-md-6 float-md-left" >
        <div class="row" *ngFor="let produto of ordem?.produtos">
          <div class="client-cars-list float-md-left">
            <button class="btn btn-danger fa fa-times" aria-hidden="true" (click)="showModalProduto(produto)"> </button>
            <span class="client-cars-list-text">{{produto.nome}} - {{produto.valor | currency: 'BRL': true}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 float-md-right" >
        <div class="row" *ngFor="let servico of ordem?.servicos">
        <div class="client-cars-list float-md-right">
          <button class="btn btn-danger fa fa-times" aria-hidden="true" (click)="showModalServico(servico)"> </button>
          <span class="client-cars-list-text">{{servico.nome}} - {{servico.valor | currency: 'BRL': true}}</span>
        </div>
      </div>
      </div>
    </div>
    <div class="row margin-top-5">
      <div class="col-md-12 col-xs-12 text-center">
        <button (click)="btnSalvar(ordemForm.value)" class="btn btn-success"
          [disabled]="!ordemForm.valid">
          <i class="fa fa-floppy-o"></i>&nbsp;&nbsp;Salvar
        </button>
      </div>
    </div>
  </section>
</section>
<!-- FIM DO CONTEUDO-->
