<section class="content-header">
</section>

<section class="content">
  <section class="invoice">
    <form [formGroup]="ordemForm" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Cadastro de Ordem de Serviço</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
            <input [(ngModel)]="nomeClienteSelecionado"
             [typeahead]="dataSourceClientes"
             (typeaheadLoading)="changeClienteTypeaheadLoading($event)"
             (typeaheadNoResults)="changeClienteTypeaheadNoResults($event)"
             (typeaheadOnSelect)="typeaheadClienteOnSelect($event)"
             [typeaheadOptionsLimit]="10"
             typeaheadOptionField="nome"
             placeholder="Buscar cliente por nome"
             class="form-control"
             [ngModelOptions]="{standalone: true}">
             <div *ngIf="clienteTypeaheadLoading===true">Loading...</div>
             <div *ngIf="clienteTypeaheadNoResults===true">&#10060; Nenhum cliente encontrado!</div>
         </div>
      </div>
      <div class="row margin-top-5" *ngIf="ordem?.cliente">
        <div class="col-md-2 col-sm-6">
          <input class="form-control" disabled="true" formControlName="cpf" [(ngModel)]=ordem.cliente.cpf placeholder="CPF">
        </div>
        <div class="col-md-4 col-sm-6">
          <input class="form-control" disabled="true" formControlName="nome" [(ngModel)]=ordem.cliente.nome placeholder="Nome">
        </div>
        <div class="col-md-4 col-sm-6">
          <input class="form-control" disabled="true" formControlName="email" [(ngModel)]=ordem.cliente.email placeholder="E-mail">
        </div>
        <div class="col-md-2 col-sm-6">
          <input class="form-control" disabled="true" formControlName="telefone" [(ngModel)]=ordem.cliente.telefone placeholder="Telefone">
        </div>
      </div>
    </form>
    <div class="row margin-top-5">
      <div class="col-md-4 col-sm-6">
        <input [(ngModel)]="veiculoSelecionado"
               [typeahead]="dataSourceVeiculos"
               (typeaheadOnSelect)="typeaheadVeiculoOnSelect($event)"
               (typeaheadLoading)="changeVeiculoTypeaheadLoading($event)"
               (typeaheadNoResults)="changeVeiculoTypeaheadNoResults($event)"
               (typeaheadOnSelect)="typeaheadVeiculoOnSelect($event)"
               placeholder="Buscar veículo do cliente pela placa"
               tooltip="Informe a placa do veículo do cliente"
               typeaheadOptionField="placa"
               class="form-control">
               <div *ngIf="veiculoTypeaheadLoading===true">Loading...</div>
               <div *ngIf="veiculoTypeaheadNoResults===true">&#10060; Nenhum veículo encontrado!</div>
      </div>
      <div class="col-md-3 col-sm-6">
        <button class="btn btn-success" (click)=showModalCadVeiculo()><i class="fa fa-plus-circle" aria-hidden="true"></i> &nbsp;Veiculo</button>
      </div>
    </div>
    <div class="row margin-top-5" >
      <div class="col-md-4">
          <input [(ngModel)]="nomeProdutoSelecionado"
           [typeahead]="dataSourceProdutos"
           (typeaheadLoading)="changeProdutoTypeaheadLoading($event)"
           (typeaheadNoResults)="changeProdutoTypeaheadNoResults($event)"
           (typeaheadOnSelect)="typeaheadProdutoOnSelect($event)"
           [typeaheadOptionsLimit]="10"
           typeaheadOptionField="nome"
           placeholder="Selecionar Produto"
           class="form-control">
           <div *ngIf="typeaheadLoading===true">Loading...</div>
           <div *ngIf="typeaheadNoResults===true">&#10060; Nenhum Produto Encontrado</div>
         </div>
         <div class="col-md-2">
           <button class="btn btn-success" (click)=showModalCadProduto()><i class="fa fa-plus-circle" aria-hidden="true"></i> &nbsp;Produto</button>
         </div>
      <div class="col-md-4">
          <input [(ngModel)]="nomeServicoSelecionado"
           [typeahead]="dataSourceServicos"
           (typeaheadLoading)="typeaheadServicoLoading($event)"
           (typeaheadNoResults)="typeaheadServicoNoResults($event)"
           (typeaheadOnSelect)="typeaheadServicoOnSelect($event)"
           [typeaheadOptionsLimit]="10"
           typeaheadOptionField="nome"
           placeholder="Selecionar Serviço"
           class="form-control col-md-3">
           <div *ngIf="servicostypeaheadLoading===true">Loading...</div>
           <div *ngIf="servicostypeaheadNoResults===true">&#10060; Nenhum Serviço Encontrado</div>
      </div>
      <div class="col-md-2">
        <button class="btn btn-success" (click)=showModalCadServico()><i class="fa fa-plus-circle" aria-hidden="true"></i> &nbsp;Serviço</button>
      </div>
    </div>
    <div class="row" >
      <div class="col-md-6 float-md-left" >
        <div class="row" *ngFor="let produto of ordem?.produtos">
          <div class="client-cars-list float-md-left">
            <button class="btn btn-danger fa fa-times" aria-hidden="true" (click)="showModalProduto(produto)"> </button>
            <span class="client-cars-list-text">{{produto.nome}} - {{produto.valor | currency: 'BRL': true}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 float-md-right" >
        <div class="row" *ngFor="let servico of ordem?.servicos">
        <div class="client-cars-list float-md-right">
          <button class="btn btn-danger fa fa-times" aria-hidden="true" (click)="showModalServico(servico)"> </button>
          <span class="client-cars-list-text">{{servico.nome}} - {{servico.valor | currency: 'BRL': true}}</span>
        </div>
      </div>
      </div>
    </div>
    <div class="row margin-top-5">
      <div class="col-md-12 col-xs-12 text-center">
        <button (click)="btnSalvar()" class="btn btn-success"
          [disabled]="!ordemForm.valid">
          <i class="fa fa-floppy-o"></i>&nbsp;&nbsp;Salvar
        </button>
      </div>
    </div>
  </section>
</section>
<!-- FIM DO CONTEUDO-->
