<div class="row">
  <div *ngFor="let ordem of ordens | paginate: { itemsPerPage: 4, currentPage: p }" class="col-sm-6 col-xs-12">
    <oo-ordem-cliente [ordem]="ordem"></oo-ordem-cliente>
  </div>
  <div *ngIf="ordens?.length === 0" class="col-xs-12">
    <p class="lead text-center">
      Não foram encontradas ordens de serviço.
    </p>
  </div>
  <div class="row margin-top-5">
    <div class="col-md-12 text-center " *ngIf="ordens?.length > 0">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
